* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {

  background: rgb(249,249,249);
  background: linear-gradient(90deg, rgba(249,249,249,1) 0%, rgba(29,29,29,1) 100%);
  cursor: none;
}

/* -------------------- header/navabar ---------------- */

.navBar {
  padding-top: 1%;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  letter-spacing: 3px;
  font-size: 0.9rem;
  
}

ul li {
  margin-right: 50px;
  padding: 1rem;
}

ul li a {
  text-decoration: none;
  color: #05FDD8;
  cursor: pointer;
}

ul li a:hover {
  color: white;
}

.container {
  padding: 2% 5%;
}

.cursor {
  width: 2rem;
  height: 2rem;
  border: 1px dotted white;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  z-index: -1;
}

.link-bubble {
  transform: scale(2);
  justify-content: center;
  background-color: black;
}

.vinImg {
  text-align: center;
  margin: 12% auto;
}

.vinImg img {
  width: 20%;
  float: left;
  margin-right: 3rem;
}

.content{
  color: white;
  font-size: 1rem;
  text-align:left;
  letter-spacing: 2px;
  line-height: 1.5;
  position: relative;
}

.content a {
  text-decoration: none;
  color: #FD2155;
}

@media (max-width: 500px) {
  .navBar {
    padding: 10px;
    position: static;
    /* display: block; */
  }

  ul {
    display: block;
  }

  ul li {
    margin-right: 0px;
    text-align: center;
  }

  .vinImg img {
    width: 50%;
    margin-bottom: 30px;
    float: none;
    margin-right: 0rem;
  }

}

#preloader {
  height: 100vh;
  width: 100%;
  background: white url(../images/loading.gif) center no-repeat;
  background-size: 35%;
  position: fixed;
  z-index: 100;
}
