* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
    font-family:sans-serif;
}

body {
  background: #1D1D1D;
  cursor: none;
}

ul {
  display: flex;
  list-style-type:none;
  letter-spacing: 3px;
  font-size: 0.9rem;
}

ul li {
  margin-right:50px;
  padding: 1rem;
}

ul li a {
  text-decoration:none;
  color: white;
  cursor: pointer;
}

ul li a:hover {
  color: #05FDD8;
}

.header {
  color: white;
  text-align: left;
  position:absolute;
  right: 50px;
}

.link-bubble {
  transform: scale(2);
  background-color: black;
}

.container {
  padding: 2% 5%;
}

.cursor {
  width: 2rem;
  height: 2rem;
  border: 1px dotted white;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  z-index: -1;
}

.image {
  display:flex;
  position: relative;
  justify-content: center;
  margin-top: 8%;
}

.image img {
  width: 10rem;
}

.content {
  color: white;
  height: auto;
  width: 50rem;
  margin: auto;
  margin-top:40px;
  font-size: 1rem;
  text-align: left;
  letter-spacing: 2px;
  line-height: 1.5;
  position: relative;
}

.content a {
  text-decoration: none;
  color:  #05FDD8 ;

}

@media (max-width: 500px) {

  .header {
    padding: 10px;
    position: static;
    display: block;
  }
  ul {
    display:block;
  }

  ul li {
    margin-right:0px;
    text-align: center;
  }

  .content p {

    display: inline-block;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }


}
