* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {

}

ul {
  display: flex;
  list-style-type:none;
  letter-spacing: 3px;
  font-size: 0.9rem;
}

ul li {
  margin-right:50px;
  padding: 1rem;

}

ul li a {
  text-decoration:none;
  color: #272324;
  cursor: pointer;
}

ul li a:hover {
  color: #FD2155;
}

.header {
  color: white;
  text-align: left;
  position:absolute;
  right: 50px;
}

.link-bubble {
  transform: scale(2);
  background-color: black;
}

.container {
  padding: 2% 5%;
}

.cursor {
  width: 2rem;
  height: 2rem;
  border: 1px dotted white;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  z-index: -1;
}


.hello-text {
  color: #272324;
  display: block;
  position: absolute;
  bottom: 9rem;
}

.hello-text h1 {
  font-size: 6.25rem;
  font-weight: 900;
  margin-top: -1.6rem;
}

.hello-text h1 span {
  color: #13CDCF;
  text-shadow: 8px 0px #FD2155;
}

.hello-text h1:hover {
  color: #13CDCF;
  font-size: 7.5rem;
}


.hello-text p {
  font-size: 2.1rem;
  color: #272324;
}

.hello-text .contact-num {
  margin-top: 10px;
  font-size: 40px;
  color: #13CDCF;
}

.phone-img img{
  display: inline-block;
  position: absolute;
  width: 75%;
  top: 100px;
  right: 3.5%;
}

.social-links ul li {
  margin-right: 1px;
  padding: 0.5rem;
}

@media (max-width: 500px) {
  /* .container {
  display: flex;
  flex-direction: column;
  } */

  .header {
    padding: 10px;
    position: static;
    display: block;
  }
  ul {
    display:block;
  }

  ul li {
    margin-right:0px;
    text-align: center;
  }

  .hello-text {
    display: block;
    position: relative;
    bottom: 0px;
    text-align: center;
    /* left: 50px; */
  }
  .hello-text h1 {
      font-size: 3.25rem;
      margin-top: 0rem;
    }

  .hello-text h1:hover {
      color: #13CDCF;
      font-size: 3.5rem;
    }
  .hello-text p {
      font-size: 1.1rem;
    }

  .hello-text .contact-num {
      font-size: 1.5rem;
    }

  .phone-img {
    text-align: center
  }

  .phone-img img{

    position: relative;
    width: 15rem;
    top: 0px;
    right: 0%;

    padding: 20px;
  }

  .social-links ul {
    margin-top: 2%;
    display: flex;
    justify-content: center;
  }

 }
