* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  cursor: none;
  overflow: hidden;
}

/* -------------------- header/navabar ---------------- */

.navBar {
  padding-top: 1%;
}

#toggle {
  display: none;
  height: 40px;
  width: 40px;
  cursor: pointer;
  margin: 1% auto;
  justify-content: center;
  align-items: center;
}

#toggle::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 30px;
  background-color: #05fdd8;
  transform: translateY(-4px);
  transition: 0.3s;
}

#toggle::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 30px;
  background-color: #05fdd8;
  transform: translateY(4px);
  transition: 0.3s;
}

#toggle.active::before {
  transform: translateY(0px) rotate(-45deg);
  background-color: #fd2155;
}

#toggle.active::after {
  transform: translateY(0px) rotate(45deg);
  background-color: #fd2155;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  letter-spacing: 3px;
  font-size: 0.9rem;
}

ul li {
  margin-right: 50px;
  padding: 1rem;
}

ul li a {
  text-decoration: none;
  color: #272324;
  cursor: pointer;
}

ul li a:hover {
  color: #fd2155;
}

.container {
  margin-top: 2%;
  padding: 2% 5%;
  height: 85vh;
 

}

.cursor {
  width: 2rem;
  height: 2rem;
  border: 1px dotted #272324;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  z-index: -1;
}

.link-bubble {
  transform: scale(2);
  background-color: black;
}

.text {
  color: #272324;
  display: block;

}

.text h1 {
  font-size: 6.25rem;
  font-weight: 900;
  margin-top: -1.6rem;
  transition: 0.2s;
}

.text h1 span {
  color: #13cdcf;
  text-shadow: 8px 0px #fd2155;
}

.text h1:hover {
  color: #13cdcf;
  font-size: 7.5rem;
}

.contactLink {
  display: inline-block;
}
.contactLink p {
  font-size: 2.1rem;
  color: #272324;
  margin: 6% 0;
}

.contactLink .contactNumber {
  margin-top: 10px;
  font-size: 40px;
  color: #13cdcf;
}

.contactLink .contactNumber:hover {
  color: #fd2155;
}

.socialLinks ul a {
  text-decoration: none;
  color: #272324;
  transition: 0.2s;
}

.phoneImg img {
  display: inline-block;
  position: absolute;
  width: 65%;
  bottom: 10%;
  right: 3.5%;
}



/* make responsive */

  @media screen and (max-width: 990px) {

  .text h1 {
    font-size: 7.5rem;
    margin-top: 0rem;
  }

  .text h1:hover {
    color: #13cdcf;
    font-size: 9rem;
  }
  .text p {
    font-size: 1.1rem;
    margin: 6% 0;
  }

  .text .contactNumber {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {

  .container {
    text-align: center;
  }
  #toggle {
    display: flex;
  }

  ul {
    display: none;
    transition: 0.5s;
  }

  ul.active {
    display: flex;
    flex-direction: column;
  }

  ul li {
    margin-right: 0px;
    text-align: center;
  }

  .text {
    display: block;
    position: relative;
    bottom: 0px;
    text-align: center;
  
  }
  .text h1 {
    font-size: 4rem;
    margin-top: 0rem;
  }

  .text h1:hover {
    color: #13cdcf;
    font-size: 4.5rem;
  }

 
  .contactLink p {
    font-size: 1.3rem;
    margin: 6% 0;
  }

  .contactLink .contactNumber {
    font-size: 2rem;
  }

  .socialLinks ul {
    margin-top: 2%;
    display: flex;
    justify-content: center;
  }

  .phoneImg {
    text-align: center;
    overflow: hidden;
  }

  .phoneImg img {
    position: relative;
    width: 25rem;
    top: 0px;
    right: 50px;
    padding: 20px;
  }
}

#preloader {
  height: 100vh;
  width: 100%;
  background: white url(../images/loading.gif) center no-repeat;
  background-size: 35%;
  position: fixed;
  z-index: 100;
}
