* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #1d1d1d;
  cursor: none;
}

/* -------------------- header/navabar ---------------- */

.navBar {
  padding-top: 1%;
}

#toggle {
  display: none;
  height: 40px;
  width: 40px;
  cursor: pointer;
  margin: 1% auto;
  justify-content: center;
  align-items: center;
}

#toggle::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 30px;
  background-color: #05fdd8;
  transform: translateY(-4px);
  transition: 0.3s;
}

#toggle::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 30px;
  background-color: #05fdd8;
  transform: translateY(4px);
  transition: 0.3s;
}

#toggle.active::before {
  transform: translateY(0px) rotate(-45deg);
  background-color: #fd2155;
}

#toggle.active::after {
  transform: translateY(0px) rotate(45deg);
  background-color: #fd2155;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  letter-spacing: 3px;
  font-size: 0.9rem;
  transition: 0.5s;
}

ul li {
  margin-right: 50px;
  padding: 1rem;
}

ul li a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

ul li a:hover {
  color: #05fdd8;
}

.container {
  padding: 2% 5%;
}

.cursor {
  width: 2rem;
  height: 2rem;
  border: 1px dotted white;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  z-index: -1;
}

.link-bubble {
  transform: scale(2);
  background-color: black;
}

.intro-text {
  color: white;
  display: block;
  position: absolute;
  bottom: 20%;
}

.intro-text h1 {
  font-size: 6.25rem;
  transition: 0.2s;
}

.intro-text .V {
  color: #fd2155;
  /* text-shadow: -8px 0px #656565 ; */
  text-shadow: -8px 0px #05fdd8;
}

.intro-text h1:hover {
  color: #fd2155;
  font-size: 7.5rem;
}

.intro-text p {
  font-size: 1rem;
  color: #787878;
  letter-spacing: 6px;
}

.intro-text p:hover {
  color: #9c9a9a;
}

.intro-text button {
  height: 3.12rem;
  width: 12.5rem;
  display: inline-block;
  margin-top: 50px;
  border: 2px groove #05fdd8;
  font-size: 1rem;
  background: transparent;
  letter-spacing: 5px;
}

.intro-text button a {
  text-decoration: none;
  color: #05fdd8;
  cursor: pointer;
  transition: 0.2s;
}

.intro-text button a:hover {
  font-size: 1.25rem;
}

/* make responsive */

@media screen and (max-width: 990px) {

  .intro-text {
    bottom: 20%;
  }
  .intro-text h1 {
    font-size: 7.5rem;
  }

  .intro-text h1:hover {
    color: #fd2155;
    font-size: 9rem;
  }
}

@media (max-width: 500px) {
  .navBar {
    padding: 10px;
    position: static;
    display: block;
  }

  #toggle {
    display: flex;
  }

  ul {
    display: none;
    transition: 0.5s;
  }

  ul.active {
    display: flex;
    flex-direction: column;
  }

  ul li {
    margin-right: 0px;
    text-align: center;
  }

  .intro-text {
    display: block;
    position: static;
    text-align: center;
    bottom: 0px;
    word-wrap: break-word;
    left: 50px;
  }

  .intro-text h1 {
    font-size: 4rem;
  }

  .intro-text h1:hover {
    color: #fd2155;
    font-size: 4.25rem;
  }

  .intro-text p {
    font-size: 0.8rem;
    letter-spacing: 3px;
  }
  .intro-text button {
    font-size: 0.8rem;
    height: 3rem;
    width: 10rem;
    margin-bottom: 1.5rem;
  }
  .intro-text button a:hover {
    font-size: 1.5rem;
  }
}

#preloader {
  height: 100vh;
  width: 100%;
  background: white url(../images/loading.gif) center no-repeat;
  background-size: 35%;
  position: fixed;
  z-index: 100;
}
