* {
  margin: 0;
  padding:0;
}

body {
  background: #1D1D1D;
}

.header {
  color: white;
  text-align: left;
  position:absolute;
  top: 25px;
  right: 50px;
}

ul {
  display: flex;
  list-style-type:none;
  letter-spacing: 3px;
  font-size: 15px;
  font-family:sans-serif;

}
ul li {
  margin-right:50px;
}

ul li a {
  text-decoration:none;
  color: white;
  cursor: pointer;
}

ul li a:hover {
  color:  #05FDD8;
}

.intro-text {
  color: white;
  display: block;
  position: absolute;
  bottom: 80px;
  left: 50px;
}

.intro-text .V {
  color: #FD2155;
  /* text-shadow: -8px 0px #656565 ; */
  text-shadow:-8px 0px #05FDD8;
}

.intro-text h1 {
  font-size: 100px;
  font-family: sans-serif;
}

.intro-text h1:hover {
  color: #FD2155;
  font-size: 120px;
}

.intro-text p {
  font-size: 18px;
  font-family: sans-serif;
  color: #787878;
  letter-spacing: 6px;
}

.intro-text button {
  height: 50PX;
  width: 200px;
  display: inline-block;
  margin-top: 50PX;
  border: 2px groove #05FDD8 ;
  font-size: 15px;
  background: transparent;
  letter-spacing: 5px;
}

.intro-text button a {
  text-decoration: none;
  color: #05FDD8;
  cursor: pointer;
}

.intro-text button a:hover{
  font-size: 20px;
}
